<p>
  Cantidad de productos agregar {{ myShoppingCart.length }} y el total es ${{
    total
  }}
</p>
<p>
  Today: {{ today | date: 'dd/MM/yyyy' }}
</p>
<p>
  Time Ago: {{ date | timeAgo }}
</p>

<div class="products--grid">
  <!-- Escucha el evento con addedProduct y ejecuta la funcion on addtoShoppingCart enviando el evento que es el producto -->
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
