<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              placeholder="Nombre"
              formControlName="name"
              matInput
              type="text"
            />
            <div
              class="messages"
              *ngIf="nameField?.touched && nameField?.invalid"
            >
            </div>
          </mat-form-field>
          <mat-error *ngIf="nameField?.hasError('required')">
            Este campo es requerido
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img *ngIf="imageField?.value"  [src]="imageField?.value"/>
          <input (change)="uploadFile2($event)" type="file" placeholder="image">
          <div *ngIf="mostrarBarra" style="width: 400px;">
            <mat-progress-bar *ngIf="!status" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar *ngIf="status" mode="determinate" value="100"></mat-progress-bar>
          </div>
          <mat-error *ngIf="imageField?.hasError('required')">
            Este campo es requerido
          </mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- Luego como en el from le pusimos ngSubmit save es qeu llama la funcion -->
      <button mat-raised-button type="submit">Guardar categoría</button>
    </mat-card-actions>
  </mat-card>
</form>
